html body{
  background-color: #272727;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;    
}
  
.navbar{
  position: fixed; 
  display: flex;
  align-items: center;
  /* background-color: black; */
  width: 100%;
  /* opacity: 0.7; */ 
  padding: 0;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.navbar.scrolled {
  background: rgb(68, 68, 68); /* IE */
  background: rgba(0, 0, 0, 0.9); /* NON-IE */
}
.navbar-brand img{
  margin-top: 10px;
  margin-left: 30px;
}
/* Image */
.navbar-brand{
  padding: 0;
  margin-bottom: 10px;
}
.nav-link.active{
  color:#7CD8FE;
}
nav ul li a{
  font-size: 1.2rem;
  font-weight: 600;
  color: #919191;
  margin: 0 20px;
}
nav ul li a:hover{
  color:#7CD8FE;
}
#search{
  position: absolute;
  left: 30%;
  top: 30%;
  background-image: url('asset/images/search.svg');
  background-repeat: no-repeat;
  background-size: 17px;
  background-position-x: 260px;
  background-position-y: 5px;
  font-size: 0.9rem;
  font-style: italic;
  width: 300px;
  padding: 2px 15px;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(124, 216, 254, 0.9);
  border-radius: 45px;
  opacity: 50%;
  color: #919191;
  outline: none;
}
.nav.justify-content-end{
  position: absolute;
  right: 5px;
}

.ico{
  font-size: 1.3em;
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 320px to 1024px
*/

@media (min-width: 320px) and (max-width: 480px){
  .navbar-brand{
    padding: 0;
    margin-bottom: 10px;
    max-width: 30%;
  }
  #search{
    position: absolute;
    left: 0%;
  }
}
/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/ 

@media (min-width: 481px) and (max-width: 767px) {
}
/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


  
}
@media (min-width: 1025px) and (max-width: 1280px) {

  
}